# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Ian\Documents\CETYS 2020\6to Semestre\Desarrollo de Plataformas Heterogéneas\Unidad 2\proyecto-final\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
